@{
    ViewData["Title"] = "Ayarlar";
}
@model UsersViewModel

<div class="table-responsive">
    <h1>Hesap Ayarları</h1>
    <table class="table">
        <tbody>
            <tr>
                <th scope="row">Ad-Soyad</th>
                <td>
                    @Model.fullname
                </td>
            </tr>
            <tr>
                <th scope="row">Kullanıcı Adı</th>
                <td>
                    @Model.username
                </td>
            </tr>
            <tr>
                <th scope="row">E-Posta</th>
                <td>
                    @Model.Email
                </td>
            </tr>
            <tr>
                <th scope="row">Rol</th>
                <td>
                    @ViewBag.Role
                </td>   
            </tr>
            <tr>
                <th scope="row">Profil Fotoğrafı</th>
                <td>
                    <img style="width: 10rem; height: 10rem;" src="@Url.Content("~/profilePictures/" + User.Identity.Name + ".png")" alt="">
                    <form enctype="multipart/form-data" asp-action="Ayarlar" class="form" method="post">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="file" asp-for="pp" class="form-control" placeholder="Şifre"
                                    required>
                                <button type="submit" class="btn btn-primary">Profili Değiştir <i
                                        class="fa fa-edit"></i></button>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
            <tr>
                <th scope="row">Şifre</th>
                <td>
                    <form class="form" asp-action="Ayarlar" method="post">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="password" asp-for="password" class="form-control" placeholder="Şifre"
                                    required>
                                <button type="submit" class="btn btn-primary">Şifreyi Değiştir <i
                                        class="fa fa-edit"></i></button>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>